.BoardSquare {
  position: relative;
  width: 100%;
  height: 100%;
}

.BoardSquareOverlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
  backgroundColor: color
}

.BoardSquareOverlayGreen {
  composes: BoardSquareOverlay;
  background: green;
}

.BoardSquareOverlayRed{
  composes: BoardSquareOverlay;
  background: red;
}

.BoardSquareOverlayYellow{
  composes: BoardSquareOverlay;
  background: yellow;
}
